* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  cursor: default;
}
html {
  background-color: rgb(230, 157, 157);
  word-break: break-all;
}
a {
  color: white;
  text-decoration: none;
}
ul {
  list-style: none;
}
.flexcol {
  display: flex;
  // flex-direction: column !important;
  justify-content: space-between !important;
  // align-items: center;
  // align-content: center;
}
.body {
  margin-right: auto !important;
}
.container {
  padding: 0 10px;
  margin: 70px 0px 70px 80px !important;
  text-align: center;
  max-width: 1200px !important;
}
img {
  width: 100%;
}
.border_bottom {
  margin: 0 auto;
  border-bottom: 1px solid black;
}
