@media all and (max-width: 562px) {
  .sidenav {
    min-width: 60px !important;
    max-width: 70px !important;
  }
}
@media all and (max-width: 768px) {
  // SIDENAV
  .sidenav {
    max-width: 80px;
    min-width: 80px;
    &ul {
      &li {
        &_logo {
          p {
            font-size: 4rem;
          }
        }
        &_li {
          &a {
            font-size: 0.7rem;
          }
        }
      }
    }
  }
  // SIDENAV
}
@media (min-width: 768px) {
  // GLOBAL
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.8rem;
  }
  h5 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.1rem;
  }
  // GLOBAL
  .body {
    margin-left: auto !important;
  }
  .container {
    margin-left: 120px !important;
  }
}
