@media all and (max-width: 768px) {
  html {
  }
  // SIDENAV
  .sidenav {
    min-width: 100px;

    &ul {
      &li {
        &_logo {
          p {
            font-size: 4rem;
          }
        }
        &_li {
          &a {
            font-size: 0.7rem;
          }
        }
      }
    }
  }
  // SIDENAV
  .container {
    // margin-left: 100px !important;
  }
}
@media (min-width: 768px) {
  // GLOBAL
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.8rem;
  }
  h5 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.1rem;
  }
  // GLOBAL
}
