@import "global";

// SIDE NAVBAR
// #nav {
//   min-width: 270px;
//   max-width: 270px;
//   transition: all 0.3s;

.sidenav {
  background-color: #3e64ff;
  min-height: 100% !important;
  margin-right: 20px;
  position: fixed;
  top: 0;
  left: 0;
  max-width: 140px;
  min-width: 130px;
  transition: all 0.3s;
  color: white;
  &ul {
    text-align: center;
    // position: sticky !important;
    top: 0;
    left: 0;

    &li {
      &_logo {
        p {
          font-weight: bolder;
          font-size: 5rem;
          border-bottom: 2px white solid;
        }
      }
      &_li {
        display: flex;
        flex-direction: column !important;
        justify-content: space-evenly;
        padding: 10px 0;
        line-height: 3;
        border-bottom: 1px white dotted;

        &a {
          font-size: 1.2rem;
          font-weight: bolder;
        }
        &:hover {
          padding: 20px 0;
          transition: 0.5s ease-in-out;
          background-color: rgb(38, 0, 255);
        }
      }
    }
  }
}
// }
// SIDE NAVBAR

// BODY
// HOME

// HERO SECTION
.hero_section {
  padding: 0 20px 0 30px;
  &_position {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;

    .hero_section_left {
      margin-bottom: 60px;
      background-image: url("../../images/my/main.jpg");
      background-size: cover;
      background-position: top right;
      background-repeat: no-repeat;
      height: 550px;
      width: 500px;
      border: 12px solid rgb(160, 160, 160);
      position: relative;
      &::after {
        content: "";
        top: 9px;
        height: 100%;
        width: 100%;
        left: -30px;
        position: absolute;
        border: 12px solid rgb(36, 8, 138);
        z-index: -1;
      }
    }
    .hero_section_right {
      &_position {
        ul {
          display: flex;
          li {
            padding: 10px;

            .greydot {
              background-color: rgb(52, 51, 51);
              border-radius: 30px;
              height: 30px;
              width: 30px;
              border: black 3px solid;

              &:hover {
                border-radius: 25px;
                transition: 0.5s;
                height: 40px;
                width: 40px;
                border: black 3px solid;
              }
            }
            .whitedot {
              background-color: white;
              border: black 3px solid;
              border-radius: 30px;
              height: 30px;
              width: 30px;
              &:hover {
                border-radius: 25px;
                transition: 0.5s;
                height: 40px;
                width: 40px;
                border: black 3px solid;
              }
            }
            .crimsondot {
              background-color: rgb(230, 157, 157);
              border: black 3px solid;
              border-radius: 30px;
              height: 30px;
              width: 30px;
              &:hover {
                border-radius: 25px;
                transition: 0.5s;
                height: 40px;
                width: 40px;
                border: black 3px solid;
              }
            }
          }
        }
      }
    }
  }
}
// HERO SECTION

// SERVICES SECTION
.services_section {
  &_header {
    padding: 0 40px;
    margin-bottom: 60px;
  }
  &_columns {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    &_column {
      border-radius: 12px;
      box-shadow: -1rem 0 3rem rgb(102, 101, 101);
      background-color: rgb(36, 8, 138);
      color: white;
      text-align: center;
      padding: 10px 20px;
      margin: 15px;
      line-height: 1.5;
      max-width: 350px;
      &:hover {
        padding: 20px;
        background-color: #4299f0;
        align-items: center;
        transition: 0.5s ease-in-out;
      }
      &_logo {
        padding: 20px 0;
      }
    }
  }
}
// SERVICES SECTION

// WORKS
.work_section {
  &_header {
    padding: 0 40px;
    margin-bottom: 60px;
  }
  &_cards {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 16px;

    &_card {
      display: flex;
      flex-direction: column;
      max-width: 350px;
      height: 180px;
      position: relative;
      margin: 50px 10px;
      border-radius: 12px;
      background-color: rgb(36, 8, 138);
      box-shadow: -1rem 0 3rem rgb(102, 101, 101);
      padding: 20px;
      transition: 0.5s ease-in-out;
      &:hover {
        // transform: translateY(-1rem);
        height: 320px;
      }
      &:hover > &_desc {
        visibility: visible;
        top: -50px;
        opacity: 1;
        transition: 0.6s ease-in-out;
      }
      &_image {
        margin: 0 auto;
        position: relative;
        height: 250px;
        top: -60px;
        width: 300px;
        z-index: 1;
        img {
          border-radius: 8px;
          max-width: 100%;
          min-height: 200px;
        }
      }

      &_desc {
        color: white;
        top: -50px;

        position: relative;
        visibility: hidden;
        opacity: 0;
        transition: 0.5s ease-in-out;
      }
    }
  }
}
// WORKS

// CONTACT
.contact_section {
  padding: 0 40px;
  margin-bottom: 60px;
  &_head {
    margin-bottom: 60px;
  }

  &_body {
    &_cards {
      padding: 0 40px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: center;
      align-items: center;
      &_card {
        display: flex;
        flex-direction: column;
        margin: 20px;
        border-radius: 10px;
        box-shadow: -1rem 0 3rem #000;
        padding: 10px;
        height: 200px;
        width: 250px;
        background-color: rgb(36, 8, 138);
        &:hover {
          background-color: #004992;
          padding: 20px;
          height: 220px;
          width: 270px;
          transition: 0.5s ease-in-out;
        }
        &_logo {
          position: relative;
          top: 35%;
        }
        &_desc {
          position: relative;
          color: whitesmoke;
          top: 15% !important;
          visibility: hidden;
          opacity: 0;
          font-size: 1.2rem;
          font-weight: bolder;
        }
        &:hover > &_desc {
          visibility: visible;
          transition: 0.5s ease-in-out;
          opacity: 1;
        }
        &:hover > &_logo {
          visibility: hidden;
        }
      }
    }
  }
}

// CONTACT

// BODY

@import "mediaqueries";
